@model IndexView

<div class="row">
    <div class="col">
            <h1>All Authors</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Wrote</th>
                        <th>Book Published By</th>
                    </tr>
                </thead>
                <tbody>
                    @{if(Model.AllAuthors != null)
                    {
                        foreach(var a in Model.AllAuthors)
                            {
                                <tr>
                                    <td>@a.AuthorId</td>
                                    <td>@a.Name</td>
                                    <td>
                                        <ul>
                                            @foreach(var b in a.Books)
                                                {
                                                    <li>@b.Title</li>
                                                }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                                @foreach(var b in a.Books)
                                                {
                                                    @foreach(var p in b.PublishedBy)
                                                    {
                                                        <li>@p.Publisher.Name</li>
                                                    }
                                                }
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h1>Add Authors</h1>
            <form action="/authors" method="post">
                <div class="form-group">
                <label for="" asp-for="NewAuthor.Name"></label>
                <input class="form-control" asp-for="NewAuthor.Name">
                <span class="text-danger" asp-validation-for="NewAuthor.Name"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add Author</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>All Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Written by</th>
                    <th>Published By</th>
                </tr>
            </thead>
            <tbody>
                @{foreach(var b in Model.AllBooks)
                    {
                        <tr>
                            <td>@b.BookId</td>
                            <td>@b.Title</td>
                            <td>@b.Author.Name</td>
                            <td>
                                <ul>
                                    @foreach(var publication in b.PublishedBy)
                                    {
                                        <li>@publication.Publisher.Name</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1>Add Books</h1>
        @{if(Model.AllAuthors != null)
            {
                <form action="/books" method="post">
                    <div class="form-group">
                        <label for="" asp-for="NewBook.Title"></label>
                        <input class="form-control" asp-for="NewBook.Title">
                        <span class="text-danger" asp-validation-for="NewBook.Title"></span>
                    </div>
                    <div class="form-group">
                        <label for="" asp-for="NewBook.AuthorId"></label>
                        <select asp-for="NewBook.AuthorId">
                            <option selected disabled>Choose an Author</option>
                            @foreach(var a in Model.AllAuthors)
                                {
                                    <option value="@a.AuthorId">@a.Name</option>
                                }
                        </select>
                        <span class="text-danger" asp-validation-for="NewBook.AuthorId"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Add Book</button>
                    </div>
                </form>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>All Publishers</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Books published</th>
                </tr>
            </thead>
            <tbody>
                @{foreach(var p in Model.AllPublishers)
                    {
                        <tr>
                            <td>@p.PublisherId</td>
                            <td>@p.Name</td>
                            <td>
                                <ul>
                                    @foreach(var publication in p.BooksPublished)
                                    {
                                        <li>@publication.Book.Title written by @publication.Book.Author.Name</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1>Add Publishers</h1>
        @{if(Model.AllPublishers != null)
            {
                <form action="/publishers" method="post">
                    <div class="form-group">
                        <label for="" asp-for="NewPublisher.Name"></label>
                        <input class="form-control" asp-for="NewPublisher.Name">
                        <span class="text-danger" asp-validation-for="NewPublisher.Name"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Add Publisher</button>
                    </div>
                </form>
            }
        }
    </div>
</div>
<div class="row">
        <div class="col">
                <h1>All Publications</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Book</th>
                            <th>Publisher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{foreach(var p in Model.AllPublications)
                            {
                                <tr>
                                    <td>@p.PublicationId</td>
                                    <td>@p.Book.Title</td>
                                    <td>@p.Publisher.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        <div class="col">
                <h1>Add Publication</h1>
                @{if(Model.AllPublishers != null && Model.AllBooks != null)
                    {
                        <form action="/publications" method="post">
                            <div class="form-group">
                                <label asp-for="NewPublication.PublisherId"></label>
                                <select asp-for="NewPublication.PublisherId">
                                        <option selected disabled>Choose an Publisher</option>
                                        @{foreach(var p in Model.AllPublishers)
                                            {
                                                <option value="@p.PublisherId">@p.Name</option>
                                            }
                                        }
                                </select>
                                <span class="text-danger" asp-validation-for="NewPublication.PublisherId"></span>
                            </div>
                            <div class="form-group">
                                    <label asp-for="NewPublication.BookId"></label>
                                    <select asp-for="NewPublication.BookId">
                                            <option selected disabled>Choose an Book</option>
                                            @{foreach(var b in Model.AllBooks)
                                                {
                                                    <option value="@b.BookId">@b.Title</option>
                                                }
                                            }
                                    </select>
                                    <span class="text-danger" asp-validation-for="NewPublication.BookId"></span>
                                </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Add Publication</button>
                            </div>
                        </form>
                    }
                }
            </div>
</div>